@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  html {
    @apply h-full scroll-smooth;
  }
  body {
    @apply h-full flex flex-col;
  }
  main {
    @apply flex-grow;
  }
}

@layer components {
  .container {
    @apply max-w-[1140px] w-full mx-auto;
  }
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.scroll-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scroll-left {
  display: flex;
  animation: scroll-left 60s linear infinite;
}

.scroll-right {
  display: flex;
  animation: scroll-right 60s linear infinite;
}

.scroll-content img {
  width: auto;
  height: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.084);
}

.image-hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-hover-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
